.spacer {
  flex: 1;
}

.brand {
  margin-right: 8px;
}

.social > * {
  width: 16px;
}

.brand-container {
  display: inherit;
  cursor: pointer;
  outline: none;
  padding: 4px;
  border-radius: 4px;
}
